<div [ngStyle]="{backgroundImage: 'url(' + image + ')'}" class="image-container">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="div-field">
      <label class="label">Email</label>
      <input type="text" class="input-field" [value]="user.email" id="email" formControlName="email" readonly
             autocomplete="new-email">
    </div>
    <div class="div-field">
      <label class="label">Username</label>
      <input type="text" class="input-field" [value]="user.name" formControlName="username">
      <div *ngIf="registerForm.get('username')?.errors?.['required'] && registerForm.get('username')?.touched">
        Name is required.
      </div>
    </div>
    <div class="div-field">
      <label class="label">Name:</label>
      <input class="input-field" [value]="user.name" type="text" formControlName="name" >
      <div *ngIf="registerForm.get('name')?.errors?.['required'] && registerForm.get('name')?.touched">
        Name is required.
      </div>
    </div>
    <div class="div-field">
      <label class="label">Password:</label>
      <input class="input-field" formControlName="password" type="password" autocomplete="new-password" >
      <div *ngIf="registerForm.get('password')?.errors?.['required'] && registerForm.get('password')?.touched">
        Password is required.
      </div>
    </div>
    <div class="flex justify-center">
      <button class="btn-login" [disabled]="registerForm.invalid" type="submit">Register</button>
    </div>
    <div *ngIf="errorMessage" class="error-message text-center">
      <span>{{ errorMessage }}</span>
      <button class="close-button" (click)="closeError()">&times;</button>
    </div>
  </form>
</div>
