<div class="post" *ngFor="let post of (posts | async)?.content">
  <div class="social-post">
    <h2>{{ post.title }}</h2>
    <div class="items-info">
      <p class="username">{{ post.username }}</p>
      <p class="creation-time">{{ post.creationTime | timestampDate }}</p>
    </div>
    <app-image [postIdentifier]="post.identifier.toString()"></app-image>
    <p class="description">{{ post.description }}</p>
  </div>

  <div>
    <button class="button" (click)="toggleCommentsVisibility(post.identifier.toString())">
      {{ commentVisibility[post.identifier] ? 'Hide Comments' : 'Show Comments' }}
    </button>
  </div>

  <div *ngIf="commentVisibility">
    <app-comment [postIdentifier]="post.identifier.toString()"
                 [commentVisibility]="commentVisibility[post.identifier]"></app-comment>
  </div>
</div>

<ng-container *ngIf="isPostPaginationVisible$ | async" class="pagination">
  <p>Page {{ currentPostPage.getValue() + 1 }} of {{ (posts | async)?.pages }}</p>
  <button (click)="previousPostPage()" [disabled]="currentPostPage.getValue() + 1 === 1">Previous</button>
  <button (click)="nextPostPage()" [disabled]="currentPostPage.getValue()+1 === (posts | async)?.pages">Next</button>
</ng-container>

