@use "@angular/material" as mat;
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
@import '~bootstrap/dist/css/bootstrap.min.css';
.custom-snackbar {
  z-index: 9999;
  position: revert;
}


$my-typography: mat.define-typography-config($font-family: 'Times New Roman, sans-serif' );

@include mat.typography-hierarchy($my-typography);

$my-app-primary: mat.define-palette(mat.$blue-palette);
$my-app-accent: mat.define-palette(mat.$green-palette);
$my-app-warn: mat.define-palette(mat.$red-palette);


@include mat.typography-hierarchy($my-typography);

$my-app-theme: mat.define-light-theme((
  color: (
    primary: $my-app-primary,
    accent: $my-app-accent,
    warn: $my-app-warn,
  ),
  typography: $my-typography
));

.error-dialog-window {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.error-dialog-box p {
  margin-bottom: 20px;
}

.error-dialog-box button {
  background-color: transparent;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.error-dialog-box button:focus {
  outline: none;
}

.error-dialog-box button:hover {
  text-decoration: underline;
}

.flex {
  display: flex;
  justify-content: center;
}

.btn-login {
  border-radius: 9999px;
  background-color: #B91C1C;
  color: #fff;
  padding: 0.5rem 1rem;
}

.div-field {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 20rem;
}
.div-field img{
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.image-container {
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.label {
  text-align: center;
  margin-bottom: 0.5rem;
}
.input-field {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}
.input-search-field {
  user-select: none;
  margin-right: 20px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}
.draggable-container {
  position: fixed;
  cursor: move;
  top: 0;
  flex: 1 1 auto;
  background-color: #B91C1C;
  height: 20%;
  width: 100%;
}
.post {
  padding: 10px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.social-post {
  padding: 10px;
  border-top: none;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.social-post:first-child {
  border-top: 1px solid #ccc;
}

.comments-border {
  border-bottom: 1px solid #ccc;
}

.items-info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.username {
  font-weight: bold;
  margin-right: 10px;
}

.creation-time {
  color: gray;
  font-size: 12px;
  margin-right: 25px;
}

.social-post-container {
  flex-direction: column;
  gap: 20px;
}
.social-post {
  flex: 1 1 auto;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.post {
  flex: 1 1 auto;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  border-radius: 9999px;
  background-color: cornflowerblue;
  color: #fff;
  padding: 0.5rem 1rem;
}
.content {
  position: relative;
}
.draggable-style {
  position: sticky;
  height: 100px;
  top: 0;
  z-index: 1;
}
.comments-container {
  max-width: 500px;
  word-break: break-word;
  flex-direction: column;
}
.dynamic-textarea {
  resize: vertical;
  min-height: 60px;
  max-height: 130px;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}
.register-image-container {
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.register-image-container:hover .image-overlay {
  opacity: 1;
}

.profile-menu-window {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 9999;
}
.profile-menu-options a {
  position: relative;
  display: block;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}
.profile-menu-options a:hover {
  background-color: #f0f0f0;
  color: #007bff;
}
.dropdown-window {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.no-select {
  user-select: none;
}
.confirmation-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  max-width: 400px;
  width: 100%;
  text-align: center;
}
.confirmation-dialog .message {
  margin-bottom: 20px;
  font-size: 18px;
  color: #333333;
}
.confirmation-dialog button {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background-color: #f44336;
  font-size: 16px;
  cursor: pointer;
}

.confirmation-dialog button:hover {
  background-color: #d32f2f;
}

.confirmation-dialog button + button {
  margin-left: 10px;
}

.confirmation-dialog .close-button {
  background-color: transparent;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
}