
<h1 class="draggable-container" mat-dialog-title
    appDraggableDirective>
  <button class="close-button" (click)="closeDialog()">&times;</button>
  <h2>{{ isUpdating ? 'Update comment' : 'Create comment' }}</h2>
</h1>

<form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
  <div class="div-field">
    <label class="label">Title:</label>
    <input class="input-field" type="text" formControlName="title" placeholder="Input title">
    <div *ngIf="commentForm.get('title')?.errors?.['required'] && commentForm.get('title')?.touched">
      Title is required.
    </div>
  </div>
  <div class="div-field">
    <label class="label">Description:</label>
    <textarea class="dynamic-textarea" type="text" formControlName="description" placeholder="Input description">
    </textarea>
    <div *ngIf="commentForm.get('description')?.errors?.['required'] && commentForm.get('description')?.touched">
      Description is required.
    </div>
  </div>
  <div class="flex justify-center">
    <button class="btn-login" [disabled]="commentForm.invalid"  type="submit">
      {{ isUpdating ? 'Update comment' : 'Create comment' }}
    </button>
  </div>
</form>
