<div [ngStyle]="{backgroundImage: 'url(' + image + ')'}" class="reset-pass-container">

  <h2 class="text-center mt-4">Forgot Password</h2>

  <form *ngIf="token" #resetPasswordForm="ngForm" (ngSubmit)="submitResetForm()">
    <div class="div-field">
      <label class="label" for="newPassword">New Password</label>
      <input type="password" class="input-field"
             id="newPassword"
             name="newPassword"
             [(ngModel)]="newPassword"
             required/>
      <div
        *ngIf="resetPasswordForm.controls['newPassword']?.errors?.['required'] && resetPasswordForm.controls['newPassword']?.touched">
        New Password is required.
      </div>
    </div>

    <div class="div-field">
      <label class="label" for="confirmPassword">Confirm Password</label>
      <input type="password" class="input-field"
             id="confirmPassword"
             name="confirmPassword"
             [(ngModel)]="confirmPassword"
             required/>
      <div
        *ngIf="resetPasswordForm.controls['confirmPassword']?.errors?.['required'] && resetPasswordForm.controls['confirmPassword']?.touched">
        Confirm Password is required.
      </div>
      <div
        *ngIf="resetPasswordForm.controls['confirmPassword']?.value !== resetPasswordForm.controls['newPassword']?.value">
        Passwords do not match.
      </div>
    </div>

    <div class="flex justify-center">
      <button type="submit" class="btn-login"
              [disabled]="resetPasswordForm.invalid || confirmPasswordMismatch()">
        Reset Password
      </button>
    </div>
  </form>

  <form *ngIf="!token" #forgotPasswordForm="ngForm" (ngSubmit)="submitForm()">
    <div class="div-field">
      <label class="label" for="email">Email</label>
      <input type="email" class="input-field"
             id="email"
             name="email"
             [(ngModel)]="email"
             required/>
      <div
        *ngIf="forgotPasswordForm.controls['email']?.errors?.['required'] && forgotPasswordForm.controls['email']?.touched">
        Email is required.
      </div>
    </div>

    <div class="flex justify-center">
      <button type="submit" class="btn-login"
              [disabled]="forgotPasswordForm.invalid || (isTimerRunning$ | async)">
        Submit
      </button>
    </div>
    <div *ngIf="(isTimerRunning$ | async)" class="text-center"> You can send the email again in: {{ (timerValue$ | async) }} seconds</div>
  </form>

  <div *ngIf="errorMessage" class="error-message text-center">
    <span>{{ errorMessage }}</span>
    <button class="close-button" (click)="closeError()">&times;</button>
  </div>
</div>
