<div [ngStyle]="{backgroundImage: 'url(' + image + ')'}" class="login-container">
  <app-error *ngIf="errorMessage" [message]="errorMessage" (resetError)="errorMessage = ''"></app-error>
  <h2 class="label">Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
    <div class="flex justify-center">
      <asl-google-signin-button>
      </asl-google-signin-button>
    </div>
    <div class="div-field">
      <label class="label">Username:</label>
      <input class="input-field" type="text" [(ngModel)]="loginData.username" name="username"
             formControlName="username">
      <div *ngIf="loginForm.get('username')?.errors?.['required'] && loginForm.get('username')?.touched">
        Username is required.
      </div>
    </div>
    <div class="div-field">
      <label class="label">Password:</label>
      <input class="input-field" type="password" [(ngModel)]="loginData.password" name="password"
             formControlName="password">
      <div *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched">
        Password is required.
      </div>
    </div>
    <div class="flex justify-center">
      <button class="btn-login" [disabled]="loginForm.invalid" type="submit">Login
      </button>
    </div>
    <p class="text-center mt-4">
      Don't have an account? <a href="/register">Register</a> | <a href="/reset-password">Reset Password</a>
    </p>
  </form>
</div>
