.profile-menu-options {
  z-index: 10;
}

.profile-menu-options a {
  display: block;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.profile-menu-options form {
  display: block;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.profile-menu-options form:hover {
  background-color: #f0f0f0;
  color: #007bff;
}

.profile-menu-options a:hover {
  background-color: #f0f0f0;
  color: #007bff;
}


