<div class="comments-container" *ngIf="commentVisibility" >
  <div class="comments-border" *ngFor="let comment of (postComments | async)?.entities">
    <div class="items-info">
      <app-image [image]="comment.userImage"></app-image>
      <span class="username">{{ comment.username }}</span>
      <span class="creation-time">{{ comment.creationTime | date: 'MMM d, yyyy h:mm a' }}</span>
    </div>
    <p>{{ comment.title }}</p>
    <p class="description">{{ comment.description }}</p>
    <div>
      <button *ngIf="currentUser === comment.username" class="button"
              (click)="updateComment(comment.identifier, comment.title, comment.description)">
        Edit
      </button>
    </div>
  </div>

  <div>
    <button class="button" (click)="createComment(postIdentifier)">
      Create comment
    </button>
  </div>

<ng-container *ngIf="isCommentPaginationVisible$ | async" class="pagination">
  <p>
    Page {{ (currentCommentPage[postIdentifier] !== null && currentCommentPage[postIdentifier] !== undefined && currentCommentPage[postIdentifier] !== 0) ? currentCommentPage[postIdentifier] + 1 : 1 }}
    of {{ (postComments | async)?.totalPages }}</p>
  <button (click)="previousCommentPage(postIdentifier)"
          [disabled]="(currentCommentPage[postIdentifier] !== null && currentCommentPage[postIdentifier] !== undefined && currentCommentPage[postIdentifier] !== 0) && currentCommentPage[postIdentifier] + 1 === 1">
    Previous
  </button>
  <button (click)="nextCommentPage(postIdentifier)"
          [disabled]="(currentCommentPage[postIdentifier] !== null && currentCommentPage[postIdentifier] !== undefined) &&
      currentCommentPage[postIdentifier] + 1 === ((postComments | async)?.totalPages || 0)">Next
  </button>
</ng-container>
</div>
